.calculator {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 600px;
}

.row{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.row.double{
    justify-content: flex-start;
}

.col{
    box-sizing: border-box;
    width:25%
}

.col.double{
    flex-grow: 2;
}

.col#display{
    display:flex;
    align-items: center;
    border: 1px black solid;
    box-sizing: border-box;
    height: 50px;
    justify-content: flex-end;
    margin: auto;
    width: 100%;
}

.col input[type="button"], .col.double button{
    width: 100%;
    height: 66px;
    font-weight: bold;
    font-size: 22px;
}