@font-face{
    font-family:'digital-clock';
    src: url('./fonts/digital-7.monoitalic.ttf');
}

@font-face{
    font-family:'made-gentle';
    src: url('./fonts/MADE\ Gentle\ PERSONAL\ USE.otf');
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 600px;
}

.row{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.row.double{
    justify-content: flex-start;
}

.col{
    box-sizing: border-box;
    width:25%
}

.col.double{
    flex-grow: 2;
}

.col#display{
    display:flex;
    align-items: center;
    border: 1px black solid;
    box-sizing: border-box;
    font-family: 'digital-clock', Courier, monospace;
    font-size: 50px;
    height: 50px;
    justify-content: flex-end;
    width: 100%;
}

.col input[type="button"], .col.double button{
    width: 100%;
    height: 66px;
    font-family:'made-gentle', Courier, monospace;
    font-weight: bold;
    font-size: 35px;
}